*.layout
Call_and_Response/obj/
Call_and_Response/bin/libs/
Call_and_Response/bin/Call_and_Response_debug
Call_and_Response/bin/Call_and_Response
AssimpLoaderTest/bin/AssimpLoaderTest
AssimpLoaderTest/bin/AssimpLoaderTest_debug
AssimpLoaderTest/bin/libs
AssimpLoaderTest/obj
Blender Trees/E2-skeleton.blend2
Trees pictures 2/
build-CallAndResponse-Desktop-Debug/
CallAndResponse/CallAndResponse.qbs.user
CallAndResponse/bin/CallAndResponse_debug
CallAndResponse/bin/CallAndResponse
CallAndResponse/obj/
ofxArtNetExample/bin/ofxArtNetExample_debug
ofxArtNetExample/ofxArtNetExample.qbs.user
